body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.container{
    height: 90%;
    width: 30%;
    margin: 0 auto;

}

.container-add{
    height: 90%;
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
}

.hangman-draw{

    padding-top: 20%;
    padding-left: 13%;
}

.title{
    font-size: 30px;
    padding-left: 30%;
    color: rgb(2, 126, 12);
}

button{
    height: 35px;
    width: 100px;
    margin-left: 35%;
    background-color: rgb(2, 126, 12);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border-color: #034909;
}

.button-add{
    margin-top: 5%;
}

.new-word{
    width: 85%;
    height: 30px;
    margin-left: 5%;
    border-color: #034909;
    border-radius: 10px;
    text-align: center;
}

.invisible{
 
    display: none;
}

#error-add{
    font-size: 10px;
    margin-top: 20px;
    margin-left: 5%;
    color: red;
}
.button-mainmenu{
    margin-left: 45%;
}